.game{
    width: 500px;
    margin: auto;
    font-family: system-ui;
    font-weight: 700;
    color: white;
   
    text-align: center;

}
.title{
    background-color: #ffff08;
    font-size: larger;
    margin: 10px;
    padding: 5px;
    
}
.square{
    width: 160px;
    height: 160px;
    background-color: darkgreen;
    float: left;
    margin: 2px;
    color:white;
    font-size: 100px;
    text-align: center;

}
.square:hover{
    background-color: black;
    cursor: pointer;
}